* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url('../Images/Artboard 1.png') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 180px;
    height: auto;
    cursor: pointer;
}

.title {
    position: relative;
    float: left;
    font-weight: 600;
    font-size: 75px;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
}

.header-underline {
    top: 0;
    width: 100%;
    background-color: white;
}

.navbar a {
    position: relative;
    font-size: 25px;
    font-family: "Barlow", sans-serif;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin-left: 40px;
}

    .navbar a::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 0%;
        height: 2px;
        background: white;
        transition: 0.3s;
    }

    .navbar a:hover::before {
        width: 100%;
    }

.navbar a:hover {
    color: khaki;
    transition: 0.3s;
}




.container {
    display: flex;
    justify-content: center;
}

.box1 {
    position: relative;
    float: left;
    width: 1400px;
    height: 200px;
    padding: 10px;
    margin: 50px;
    font-family: "Share Tech", sans-serif;
    /*border: 5px solid red;*/
    font-size: 50px;
    color: white;
    margin-right: 100px;
    margin-top: 250px;
}

    .box1 img {
        height: 800px;
        width: auto;
    }


.container.box2 {
    position: relative;
    float: left;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 150px;
    margin-right: 10px;
    border: 5px solid red;
    font-size: 30px;
    color: white;
    text-align: center;
}


.bigBox {
    float: left;
    width: 1500px;
    height: 800px;
    padding: 30px;
    margin-top: 150px;
    margin-left: 50px;
    color: white;
    border: 3px solid red;
    font-family: "Share Tech", sans-serif;
    font-size: 45px;
}


.bigBox2 {
    display: inline-block;
    float: right;
    width: 1500px;
    height: 800px;
    padding: 30px;
    margin-top: 50px;
    margin-right: 50px;
    color: white;
    border: 3px solid red;
    font-family: "Share Tech", sans-serif;
    font-size: 30px;
}



.fieldInfo {
    color: white;
    position: relative;
    margin-top: 0px;
    margin-left: 50px;
    
}

    .fieldInfo label {
        width: 500px;
        height: 50px;
        display: inline-block;
        margin-left: 50px;
        font-size: 30px;
        
        color: white;
    }

.fieldInfo input {
    width: 300px;
    height: 50px;
}



.buttons {
    margin-left: 50px;
    margin-top: 50px;

}

.buttons button {
    width: 200px;
    height: 50px;
}

.buttons button:hover {
    background-color: khaki;
    color: black;
    transition: 0.2s;
}

.fieldInfo .descr {
    margin-left: 900px;
    
    padding-top: 20px;
    width: 300px;
    height: 50px;
    
}

.fieldInfo .descr textarea {
    width: 520px;
    height: 205px;
    resize: none;
    
}

.cool img {
    height: 850px;
    width: auto;
}


footer {
    position: relative;
    bottom: 0;
    background: black;
    color: white;
    width: 100%;
    height: 220px;
    padding-top: 10px;
    clear: both;
}

    footer h3 {
        text-align: center;
        font-size: 35px;
    }

    footer p {
        text-align: center;
        font-size: 18px;
    }

#msg {
    margin-left: 150px;
    color: #61b752;
    margin-top: 10px;
    font-size: 30px;
}





/*XS */
@media (min-width: 200px)and (max-width: 475px) {

    .header {
        max-width: 475px;
    }

    .header-underline {
        width: 475px;
        position: relative;
        background-color: yellow;
    }

    .html {
        width: 475px;
    }
    .header {
        /*position: fixed;*/
        top: 0;
        left: 0;
        width: 475px;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .logo {
        width: 80px;
        height: auto;
    }

    .title {
        position: relative;
        float: left;
        font-weight: 600;
        font-size: 35px;
        padding-left: 20px;
        color: white;
        font-family: 'Roboto Mono', sans-serif;
    }

    .navbar a {
        display: inline-block;
        position: relative;
        font-size: 18px;
        font-family: "Barlow", sans-serif;
        color: white;
        font-weight: 300;
        text-decoration: none;
        margin-left: 90px;
        padding-bottom: 12px;
    }

    

       

    footer {
        position: relative;
        bottom: 0;
        background: black;
        color: khaki;
        width: 475px;
        height: 420px;
        padding-top: 10px;
        clear: both;
    }

        footer h3 {
            text-align: center;
            font-size: 25px;
        }

        footer p {
            text-align: center;
            font-size: 18px;
        }

    .box1 {
        position: relative;
        float: left;
        width: 275px;
        height: 200px;
        padding: 10px;
        margin: 50px;
        font-family: "Share Tech", sans-serif;
        /*border: 5px solid red;*/
        font-size: 23px;
        color: white;
        margin-right: 0;
        margin-left: 20px;
        margin-top: 50px;
    }

    .fieldInfo {
        color: white;
        position: relative;
        margin-top: 0px;
        margin-left: 50px;
        
    }

        .fieldInfo label {
            width: 100px;
            height: 50px;
            display: inline-block;
            margin-left: 10px;
            font-size: 18px;
            color: white;
        }

        .fieldInfo input {
            padding-right: 20px;
            width: 100px;
            height: 50px;
        }



    .buttons {
        margin-left: 50px;
        margin-top: 50px;
    }

        .buttons button {
            width: 100px;
            height: 50px;
        }

            .buttons button:hover {
                background-color: khaki;
                color: black;
                transition: 0.2s;
            }

    .fieldInfo .descr {
        margin-left: 20px;
        padding-top: 20px;
        margin-bottom: 100px;
        width: 100px;
        height: 50px;
        font-size: 18px;
    }


        .fieldInfo .descr label{
            margin-left: 20px;
        }

        .fieldInfo .descr textarea {
            width: 250px;
            height: 75px;
            resize: none;
            margin-bottom: 50px;
        }

    .cool img {
        height: 350px;
        width: auto;
    }
}



/*XS */
@media (min-width: 476px)and (max-width: 640px) {

    html {
        width: 640px;
    }

    .header-underline {
        width: 640px;
        position: relative;
        background-color: red;
    }

    .header {
        /*position: fixed;*/
        top: 0;
        left: 0;
        width: 640px;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .logo {
        width: 100px;
        height: auto;
    }

    .title {
        position: relative;
        float: left;
        font-weight: 600;
        font-size: 40px;
        padding-left: 20px;
        color: white;
        font-family: 'Roboto Mono', sans-serif;
    }

    .navbar a {
        /*border: 1px solid red;*/
        position: relative;
        float: left;
        display: inline-block;
        font-size: 18px;
        font-family: "Barlow", sans-serif;
        color: white;
        font-weight: 300;
        text-decoration: none;
        margin-left: 0px;
        padding-left: 10px;
        padding-bottom: 12px;
    }





    footer {
        position: relative;
        bottom: 0;
        background: black;
        color: khaki;
        width: 640px;
        height: 420px;
        padding-top: 10px;
        clear: both;
    }

        footer h3 {
            text-align: center;
            font-size: 25px;
        }

        footer p {
            text-align: center;
            font-size: 18px;
        }

    .box1 {
        position: relative;
        float: left;
        width: 375px;
        height: 300px;
        padding: 10px;
        margin: 50px;
        font-family: "Share Tech", sans-serif;
        /*border: 5px solid red;*/
        font-size: 33px;
        color: white;
        margin-right: 0;
        margin-left: 20px;
        margin-top: 50px;
    }

    .fieldInfo {
        color: white;
        position: relative;
        margin-top: 0px;
        margin-left: 50px;
    }

        .fieldInfo label {
            width: 110px;
            height: 50px;
            display: inline-block;
            margin-left: 10px;
            font-size: 18px;
            color: white;
        }

        .fieldInfo input {
            padding-right: 20px;
            width: 100px;
            height: 50px;
        }



    .buttons {
        margin-left: 50px;
        margin-top: 50px;
    }

        .buttons button {
            width: 100px;
            height: 50px;
        }

            .buttons button:hover {
                background-color: khaki;
                color: black;
                transition: 0.2s;
            }

    .fieldInfo .descr {
        margin-left: 250px;
       
       
        width: 100px;
        height: 50px;
        font-size: 18px;
    }


        .fieldInfo .descr label {
            margin-left: 20px;
        }

        .fieldInfo .descr textarea {
            width: 250px;
            height: 75px;
            resize: none;
            margin-bottom: 50px;
        }

    .cool img {
       
        height: 450px;
        width: auto;
    }
}

/*XS */
@media (min-width: 641px)and (max-width: 900px) {

    .header {
        max-width: 900px;
    }

    html {
        width: 900px;
    }

    .header-underline {
        width: 900px;
        position: relative;
        background-color: orange;
    }

    .header {
        /*position: fixed;*/
        top: 0;
        left: 0;
        width: 900px;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .logo {
        width: 120px;
        height: auto;
    }

    .title {
        position: relative;
        float: left;
        font-weight: 600;
        font-size: 40px;
        padding-left: 20px;
        color: white;
        font-family: 'Roboto Mono', sans-serif;
    }

    .navbar a {
        /*border: 1px solid red;*/
        position: relative;
        float: left;
        display: inline-block;
        font-size: 18px;
        font-family: "Barlow", sans-serif;
        color: white;
        font-weight: 300;
        text-decoration: none;
        margin-left: 0px;
        padding-left: 10px;
        padding-bottom: 12px;
    }





    footer {
        position: relative;
        bottom: 0;
        background: black;
        color: khaki;
        width: 900px;
        height: 420px;
        padding-top: 10px;
        clear: both;
    }

        footer h3 {
            text-align: center;
            font-size: 25px;
        }

        footer p {
            text-align: center;
            font-size: 18px;
        }

    .box1 {
        position: relative;
        float: left;
        width: 375px;
        height: 300px;
        padding: 10px;
        margin: 50px;
        font-family: "Share Tech", sans-serif;
        /*border: 5px solid red;*/
        font-size: 33px;
        color: white;
        margin-right: 0;
        margin-left: 20px;
        margin-top: 50px;
    }

    .fieldInfo {
        color: white;
        position: relative;
        margin-top: 0px;
        margin-left: 50px;
    }

        .fieldInfo label {
            width: 110px;
            height: 50px;
            display: inline-block;
            margin-left: 10px;
            font-size: 18px;
            color: white;
        }

        .fieldInfo input {
            padding-right: 20px;
            width: 200px;
            height: 50px;
        }



    .buttons {
        margin-left: 50px;
        margin-top: 50px;
    }

        .buttons button {
            width: 100px;
            height: 50px;
        }

            .buttons button:hover {
                background-color: khaki;
                color: black;
                transition: 0.2s;
            }

    .fieldInfo .descr {
        margin-left: 350px;
        width: 100px;
        height: 50px;
        font-size: 18px;
    }


        .fieldInfo .descr label {
            margin-left: 20px;
        }

        .fieldInfo .descr textarea {
            width: 300px;
            height: 230px;
            resize: none;
            margin-bottom: 50px;
        }

    .cool img {
        height: 450px;
        width: auto;
    }
}

/*XS */
@media (min-width: 901px)and (max-width: 1200px) {

    .header {
        max-width: 1200px;
    }

    html {
        width: 1200px;
    }

    .header-underline {
        width: 1200px;
        position: relative;
        background-color: deeppink;
    }

    .header {
        /*position: fixed;*/
        top: 0;
        left: 0;
        width: 1200px;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .logo {
        width: 120px;
        height: auto;
    }

    .title {
        position: relative;
        float: left;
        font-weight: 600;
        font-size: 40px;
        padding-left: 20px;
        color: white;
        font-family: 'Roboto Mono', sans-serif;
    }

    .navbar a {
        /*border: 1px solid red;*/
        position: relative;
        float: left;
        display: inline-block;
        font-size: 18px;
        font-family: "Barlow", sans-serif;
        color: white;
        font-weight: 300;
        text-decoration: none;
        margin-left: 0px;
        padding-left: 10px;
        padding-bottom: 12px;
    }





    footer {
        position: relative;
        bottom: 0;
        background: black;
        color: khaki;
        width: 1200px;
        height: 420px;
        padding-top: 10px;
        clear: both;
    }

        footer h3 {
            text-align: center;
            font-size: 25px;
        }

        footer p {
            text-align: center;
            font-size: 18px;
        }


    .box1 {
        position: relative;
        float: left;
        width: 500px;
        height: 300px;
        padding: 10px;
        margin: 50px;
        font-family: "Share Tech", sans-serif;
        /*border: 5px solid red;*/
        font-size: 33px;
        color: white;
        margin-right: 0;
        margin-left: 20px;
        margin-top: 50px;
    }

    .fieldInfo {
        color: white;
        position: relative;
        margin-top: 0px;
        margin-left: 50px;
    }

        .fieldInfo label {
            width: 170px;
            height: 50px;
            display: inline-block;
            margin-left: 10px;
            font-size: 18px;
            color: white;
        }

        .fieldInfo input {
            padding-right: 20px;
            width: 250px;
            height: 50px;
        }



    .buttons {
        margin-left: 50px;
        margin-top: 50px;
    }

        .buttons button {
            width: 100px;
            height: 50px;
        }

            .buttons button:hover {
                background-color: khaki;
                color: black;
                transition: 0.2s;
            }

    .fieldInfo .descr {
        margin-left: 450px;
        width: 100px;
        height: 50px;
        font-size: 18px;
    }


        .fieldInfo .descr label {
            margin-left: 20px;
        }

        .fieldInfo .descr textarea {
            width: 300px;
            height: 240px;
            resize: none;
            margin-bottom: 50px;
        }

    .cool img {
        height: 550px;
        width: auto;
    }
}


/*XS */
@media (min-width: 1201px)and (max-width: 1400px) {
    .header {
        max-width: 1400px;
    }

    html {
        width: 1400px;
    }

    .header-underline {
        width: 1400px;
        position: relative;
        background-color: deeppink;
    }

    .header {
        /*position: fixed;*/
        top: 0;
        left: 0;
        width: 1400px;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .logo {
        width: 160px;
        height: auto;
    }

    .title {
        position: relative;
        float: left;
        font-weight: 600;
        font-size: 45px;
        padding-left: 20px;
        color: white;
        font-family: 'Roboto Mono', sans-serif;
    }

    .navbar a {
        /*border: 1px solid red;*/
        position: relative;
        float: left;
        display: inline-block;
        font-size: 18px;
        font-family: "Barlow", sans-serif;
        color: white;
        font-weight: 300;
        text-decoration: none;
        margin-left: 0px;
        padding-left: 10px;
        padding-bottom: 12px;
    }





    footer {
        position: relative;
        bottom: 0;
        background: black;
        color: khaki;
        width: 1400px;
        height: 420px;
        padding-top: 10px;
        clear: both;
    }

        footer h3 {
            text-align: center;
            font-size: 25px;
        }

        footer p {
            text-align: center;
            font-size: 18px;
        }


    .box1 {
        position: relative;
        float: left;
        width: 500px;
        height: 300px;
        padding: 10px;
        margin: 50px;
        font-family: "Share Tech", sans-serif;
        /*border: 5px solid red;*/
        font-size: 33px;
        color: white;
        margin-right: 0;
        margin-left: 20px;
        margin-top: 50px;
    }

    .fieldInfo {
        color: white;
        position: relative;
        margin-top: 0px;
        margin-left: 50px;
    }

        .fieldInfo label {
            width: 170px;
            height: 50px;
            display: inline-block;
            margin-left: 10px;
            font-size: 18px;
            color: white;
        }

        .fieldInfo input {
            padding-right: 20px;
            width: 250px;
            height: 50px;
        }



    .buttons {
        margin-left: 50px;
        margin-top: 50px;
    }

        .buttons button {
            width: 100px;
            height: 50px;
        }

            .buttons button:hover {
                background-color: khaki;
                color: black;
                transition: 0.2s;
            }

    .fieldInfo .descr {
        margin-left: 450px;
        width: 100px;
        height: 50px;
        font-size: 18px;
    }


        .fieldInfo .descr label {
            margin-left: 20px;
        }

        .fieldInfo .descr textarea {
            width: 300px;
            height: 240px;
            resize: none;
            margin-bottom: 50px;
        }

    .cool img {
        height: 650px;
        width: auto;
    }
}

/*XS */
@media (min-width: 1401px)and (max-width: 1920px) {
    .header {
        max-width: 1920px;
    }

    html {
        width: 1920px;
    }

    .header-underline {
        width: 1920px;
        position: relative;
        background-color: aquamarine;
    }

    .header {
        /*position: fixed;*/
        top: 0;
        left: 0;
        width: 1920px;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .logo {
        width: 200px;
        height: auto;
    }

    .title {
        position: relative;
        float: left;
        font-weight: 600;
        font-size: 60px;
        padding-left: 20px;
        color: white;
        font-family: 'Roboto Mono', sans-serif;
    }

    .navbar a {
        /*border: 1px solid red;*/
        position: relative;
        float: left;
        display: inline-block;
        font-size: 30px;
        font-family: "Barlow", sans-serif;
        color: white;
        font-weight: 300;
        text-decoration: none;
        margin-left: 0px;
        padding-left: 10px;
        padding-bottom: 12px;
    }





    footer {
        position: relative;
        bottom: 0;
        background: black;
        color: khaki;
        width: 1920px;
        height: 420px;
        padding-top: 10px;
        clear: both;
    }

        footer h3 {
            text-align: center;
            font-size: 35px;
        }

        footer p {
            text-align: center;
            font-size: 22px;
        }


    .box1 {
        position: relative;
        float: left;
        width: 700px;
        height: 300px;
        padding: 10px;
        margin: 50px;
        font-family: "Share Tech", sans-serif;
        /*border: 5px solid red;*/
        font-size: 45px;
        color: white;
        margin-right: 0;
        margin-left: 20px;
        margin-top: 250px;
    }

    .fieldInfo {
        color: white;
        position: relative;
        margin-top: 0px;
        margin-left: 50px;
    }

        .fieldInfo label {
            width: 170px;
            height: 50px;
            display: inline-block;
            margin-left: 10px;
            font-size: 18px;
            color: white;
        }

        .fieldInfo input {
            padding-right: 20px;
            width: 250px;
            height: 50px;
        }



    .buttons {
        margin-left: 50px;
        margin-top: 50px;
    }

        .buttons button {
            width: 100px;
            height: 50px;
        }

            .buttons button:hover {
                background-color: khaki;
                color: black;
                transition: 0.2s;
            }

    .fieldInfo .descr {
        margin-left: 450px;
        width: 100px;
        height: 50px;
        font-size: 18px;
    }


        .fieldInfo .descr label {
            margin-left: 20px;
        }

        .fieldInfo .descr textarea {
            width: 500px;
            height: 240px;
            resize: none;
            margin-bottom: 50px;
        }

    .cool img {
        height: 850px;
        width: auto;
    }
}

/*XS */
@media (min-width: 1921px)and (max-width: 2559px) {
    header {
        max-width: 2560px;
    }

    html {
        width: 2560px;
    }

    .header-underline {
        width: 2559px;
        position: relative;
        background-color: silver;
    }

    .header {
        /*position: fixed;*/
        top: 0;
        left: 0;
        width: 2559px;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .logo {
        width: 230px;
        height: auto;
    }

    .title {
        position: relative;
        float: left;
        font-weight: 600;
        font-size: 65px;
        padding-left: 20px;
        color: white;
        font-family: 'Roboto Mono', sans-serif;
    }

    .navbar a {
        /*border: 1px solid red;*/
        position: relative;
        float: left;
        display: inline-block;
        font-size: 30px;
        font-family: "Barlow", sans-serif;
        color: white;
        font-weight: 300;
        text-decoration: none;
        margin-left: 0px;
        padding-left: 10px;
        padding-bottom: 12px;
    }




    footer {
        position: relative;
        bottom: 0;
        background: black;
        color: khaki;
        width: 2559px;
        height: 420px;
        padding-top: 10px;
        clear: both;
    }

        footer h3 {
            text-align: center;
            font-size: 45px;
        }

        footer p {
            text-align: center;
            font-size: 30px;
        }


    .box1 {
        position: relative;
        float: left;
        width: 700px;
        height: 300px;
        padding: 10px;
        margin: 50px;
        font-family: "Share Tech", sans-serif;
        /*border: 5px solid red;*/
        font-size: 45px;
        color: white;
        margin-right: 100px;
        margin-left: 20px;
        margin-top: 250px;
    }

    .fieldInfo {
        color: white;
        position: relative;
        margin-top: 0px;
        margin-left: 50px;
    }

        .fieldInfo label {
            width: 270px;
            height: 50px;
            display: inline-block;
            margin-left: 10px;
            font-size: 18px;
            color: white;
        }

        .fieldInfo input {
            padding-right: 20px;
            width: 250px;
            height: 50px;
        }



    .buttons {
        margin-left: 50px;
        margin-top: 50px;
    }

        .buttons button {
            width: 200px;
            height: 50px;
        }

            .buttons button:hover {
                background-color: khaki;
                color: black;
                transition: 0.2s;
            }

    .fieldInfo .descr {
        margin-left: 650px;
        width: 100px;
        height: 50px;
        font-size: 18px;
    }


        .fieldInfo .descr label {
            margin-left: 20px;
        }

        .fieldInfo .descr textarea {
            width: 500px;
            height: 240px;
            resize: none;
            margin-bottom: 50px;
        }

    .cool img {
        height: 1250px;
        width: auto;
    }
}